*.pdf
.ipynb_checkpoints
*.keras
*.hdf5
*.tif
*.tiff
*.pth
small-dataset
assets
node_modules
data
openslide_binary

.venv

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json