*.pdf
.ipynb_checkpoints
*.keras
*.hdf5
*.tif
*.tiff
*.pth
*.svs
*.npy
*.dat

.venv

training
sandbox
pdf
node_modules
logs
models
assets

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json